/* * {
  opacity: 1;
  visibility: visibile;
}

* {
  border: 1px solid #f00;
} */
/*********************
BREAKPOINTS
*********************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box sizing border box */
  box-sizing: inherit;
  /* changing the box model so that the borders and paddings are no longer added. */ }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  /* background-color: black; */ }

.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg") no-repeat center center;
  background-size: cover; }

.navbar {
  background-color: transparent;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999; }

.nav-link {
  color: black; }

.top-nav-collapse {
  background-color: #4285f4; }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285f4; } }

.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 999;
  padding-top: 88px;
  text-align: center;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px; }

.textlight {
  color: white; }

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  width: 100px; }

.navitemmiddle {
  display: flex;
  text-transform: uppercase;
  font-weight: bold; }

.navbar-expand-md .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: -34%; }

.navitemlast {
  display: flex;
  margin-left: -13%;
  text-transform: uppercase;
  font-weight: bold; }

.main-subheader {
  font-size: 4rem;
  margin-bottom: 410px; }

.main-header {
  font-size: 2rem;
  font-weight: 100; }

.maindescription {
  font-size: 1.5rem;
  font-weight: 100; }

.infoboxcontainer {
  width: 64%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: auto;
  margin-left: 17%;
  justify-content: center; }

.infoblock {
  margin-top: 30px;
  font-size: 2.1rem;
  color: white;
  width: 160px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid rgba(255, 255, 255, 0.2); }

.infoblockx {
  margin-top: 30px;
  font-size: 2.1rem;
  color: white;
  width: 144px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap; }

.infoblockmaintext {
  width: 100%; }

.infoblocksubtext {
  font-size: 1.2rem;
  width: 100%; }

.chevrondown {
  font-size: 3rem;
  color: white;
  padding-bottom: 20px; }

.infoblockbutton {
  border-radius: 100px;
  background-color: transparent;
  color: white;
  padding: 13px;
  font-size: 14px;
  line-height: 3px;
  height: 40px;
  font-weight: 100;
  margin-top: 12%;
  margin-left: 20%; }
