////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
//////////////// DEBUGGING OVERFLOW ISSUES /////////
* {
  opacity: 1;
  visibility: visibile;
}

* {
  border: 1px solid #f00;
}
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (max-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (max-width: 44.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    // IHPHONe 6 -> xr xs -> 11 -> pixel xl 2
    @media (max-width: 35.5em) {
      @content;
    }
  } @else if $point == minimobileonly {
    //IPHONE 5
    @media (max-width: 21.5em) {
      @content;
    }
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box sizing border box */
  box-sizing: inherit;
  /* changing the box model so that the borders and paddings are no longer added. */
}

html {
  // THIS DEFINES WHAT 1 REM IS;;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  /* background-color: black; */
}

.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")
    no-repeat center center;
  background-size: cover;
}

.navbar {
  background-color: transparent;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 3px 6px -6px black;
}

.nav-link {
  color: black;
}

.top-nav-collapse {
  background-color: #4285f4;
}

.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -40px;
  z-index: 999;
  padding-top: 88px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;

  &--solarspecs {
    flex-wrap: wrap;
    background-color: black;
    display: flex;
    justify-content: space-between;

    @include breakpoint(tablet) {
      justify-content: space-evenly;
    }
    @include breakpoint(phablet) {
      justify-content: space-evenly;
    }
    @include breakpoint(mobileonly) {
      justify-content: space-evenly;
    }
    @include breakpoint(minimobileonly) {
      justify-content: space-evenly;
    }
  }

  &--solardesign {
    background-image: url("../img/D-design_hero-2090x1800.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -40px;
    z-index: 999;
    padding-top: 88px;
    text-align: center;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.hero-solar {
  background-image: url("../img/D_solarpanels_hero_2880x1800_ENC.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -40px;
  z-index: 999;
  padding-top: 88px;
  text-align: center;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.textlight {
  color: white;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  width: 100px;
}

.navitemmiddle {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-expand-md .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: -34%;
}

.navitemlast {
  display: flex;
  margin-left: -13%;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-item-last {
  padding-right: 15px;
}
.nav-item-lastsecond {
  padding-right: 50px;
}
.nav-item {
  padding-right: 15px;
}

.main-subheader {
  font-size: 4rem;
  margin-bottom: 410px;
}
.main-header {
  font-size: 2rem;
  font-weight: 100;
}
.maindescription {
  font-size: 1.5rem;
  font-weight: 100;
}

.infoboxcontainer {
  width: 64%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: auto;
  margin-left: 17%;
  justify-content: center;
}
.infoblock {
  margin-top: 30px;
  font-size: 2.1rem;
  color: white;
  width: 160px;

  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid rgba(255, 255, 255, 0.2);

  &--solarspecsleftside {
    background-image: url("../img/D-design_hero-2090x1800.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @include breakpoint(tablet) {
      height: 200px;
    }
    @include breakpoint(phablet) {
      height: 200px;
    }
    @include breakpoint(mobileonly) {
      height: 200px;
    }
    @include breakpoint(minimobileonly) {
      height: 200px;
    }

    span {
      color: white;
      font-size: 1rem;
      font-weight: 400;
    }

    .fa-map-pin {
      line-height: 0px;
      font-size: 40px;
    }

    .spanone {
      position: absolute;
      top: 40%;
      left: 30%;
    }
    .spantwo {
      position: absolute;
      top: 20%;
      left: 60%;
    }
    .spanthree {
      position: absolute;
      top: 80%;
      left: 60%;
    }
  }

  &--solarspecs {
    margin-top: 30px;
    font-size: 2.1rem;
    color: white;
    width: 160px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.infoblockx {
  margin-top: 30px;
  font-size: 2.1rem;
  color: white;
  width: 144px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.infoblockmaintext {
  width: 100%;
}
.infoblocksubtext {
  font-size: 1.2rem;
  width: 100%;
}

.chevrondown {
  font-size: 2rem;
  color: white;
  padding-bottom: 20px;
  cursor: pointer;
  font-weight: 100;
}
.infoblockbutton {
  border-radius: 100px;
  background-color: transparent;
  color: white;
  padding: 14px;
  font-size: 14px;
  line-height: 3px;

  font-weight: 100;
  margin-top: 12%;
  margin-left: 20%;
}

.heading {
  &--solarpanelspecs {
    width: 100%;
    h3 {
      font-size: 2.5rem;
      color: white;
    }
  }
}

.content {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
